body {
    background-image: url("images/images.jpg");
    
}

.quotes, .features {
    color: #fff;
}

.modal {
   background-image: url("images/images1.jpg");
   /* background-color: rgba(0,0,0,.0001) !important;*/
}